@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100vh;
  font-family:'Montserrat', sans-serif;
  background-color: #FFFFF5;
}

.meals {
  align-items: center;
  background: #0fa36b;
  color: #464646;
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  height: 100vh;
  justify-content: center;
  width: 100%;
}

.rocksGlass {
  animation: shake 1s infinite ease;
  max-height: 80vh;
}

/*
#iceLeft {
  animation: clink .8s infinite ease;
  opacity: 0.6;
  transform-origin: 36px 66px;
}

#iceRight {
  animation: clink .8s .2s infinite ease;
  opacity: 0.6;
  transform-origin: 60px 78px;
}
*/

.meals > .logo {
  animation: shake 1.5s infinite ease;
  color: aliceblue;
  font-family: Montserrat , sans-serif;
  font-size: 3em;
  font-weight: 900;
}

@keyframes shake {

  0% {
    transform: rotate(5deg);
  }

  50% {
    transform: rotate(-5deg);
  }

  100% {
    transform: rotate(5deg);
  }
}

@keyframes clink {

  0% {
    transform: rotate(-10deg);
  }

  50% {
    transform: rotate(20deg);
  }

  100% {
    transform: rotate(-10deg);
  }
}

.overlay{
  height: 100vh;
  background-image: url(https://images.unsplash.com/photo-1506368249639-73a05d6f6488?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80);
  position: absolute;
  object-fit: cover;
  width: 100%;
  overflow: hidden;
}

.loginContainer {
  display: flex;
  flex-direction: column;
  background-color:#462b2550;
  margin: 70px;
  border-radius: 10px;
  height: 80vh;
}

.loginContainer img {
  position: absolute;
  width: 25%;
  margin-left: 100px;
}

.loginItens {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 18vh;
  justify-content: space-between;
  margin: 30vh auto;
  width: 200px;
  gap: 1em;
}

.loginItens button {
  width: 80%;
}

.under_construction {
  width: 180px;
}

.cardGrid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0 auto;
  padding: 10px 10px 10vh;
  width: 80%;
}

.recipeCard {
  align-items: stretch;
  display: flex;
  flex-direction: column;
  width: 40%;
}

.linkCard {
  align-items: center;
  display: flex;
  justify-content: center;
}

.embedContainer iframe {
  width: 100%;
}

.recipeCard img {
  border-radius: 7%;
}

.containerImg {
  border-radius: 6%;
  margin: auto;
  width: 80%;
}

.recomendations {
  display: flex;
  gap: 0.5em;
  max-width: 300px;
  overflow-x: auto;
}

.recomendCard {
  min-width: 150px;
  text-align: center;
}

.sliderImg {
  border-radius: 50%;
  width: 100px;
}

.startBtn {
  bottom: 0;
  height: 6vh;
  position: fixed;
  width: 100%;
}

footer {
  background-color: #fffff579;
  bottom: 0;
  position: fixed;
  width: 100%;
}

.imgInProgress {
  width: 80%;
}

.doneRecipesCard {
  border-radius: 2%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2) , 0 6px 20px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  margin: 30px auto;
  padding: 18px;
  width: 80%;
}

.doneRecipesCard .doneImg {
  width: 100%;
}

button{
  border-radius: 10px;
  background-color: #fae0ac;
  color: #702E1F;
  border-style: none;
}

button:hover{
  background-color: #AD0101;
  color: #fae0ac;
  border:1px solid #AD0101 ;
}

a{
  color: #ebd078;
  text-decoration: none;
}

a:hover{
  color: #AD0101;
}

h1{
  color: #AD0101;
  padding-left: 10px;
}

p{
  padding-left: 10px;
  padding-top: 10px;
}

img{
  padding: 10px;
}

input{
  border-radius: 7px;
  border-style: solid;
}

.done-buttons{
  width: 100px;
  padding: 5px;
  margin-left: 50px;
}
